/*mobile first*/

/*color adjustment*/
$primary: #6C5CE7;
@import "node_modules/bootstrap/scss/bootstrap";

/*image of cell(background*/
#wrapper {
  background-image: url(../images/dots_group.png);
  padding: 10px;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100%;
}

/*cards */
#awesome-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;

}

;
/* adjustments for cards "Delivering good designs since 1954"*/
.awesome-card {
  width: 130px;
  margin: 20px 5px;
}
/*adjustment for button colors*/
.learn-more-link {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
/* footer on mobile*/
#footer-awesome {
  display: none;
}

footer {
  display: block;
}
/*get rid of list dots*/
ul {

  list-style-type: none;
}
/*footer grid */
#box {
  display: flex;
  justify-content: space-evenly;
}

/*desktop version*/
@media screen and (min-width:480px) {

  body {
    max-width: 900px;
    margin: 0 auto;
  }
/*image of cell(background*/
  #wrapper {
    background-image: url(../images/desk_top.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 300px;
  }
/* footer on desktop*/
  #footer-awesome {
    display: block;
  }

  footer {
    display: none;
  }
}